/* font-family: 'Lora', serif;
font-family: 'Playfair Display', serif; */

/* Homepage */

:root {
  --heading-font: "Playfair Display", serif;
  --secondary-font: "Lora", serif;
  --branding-color: #abc4ff;
  --text-color: #ffff;
}

body {
  text-align: center !important;
  background-color: #fbfefb !important;
}

.navbar .navbar-collapse {
  text-align: center;
}

.hero {
  background-color: var(--branding-color);
  color: var(--text-color);
  padding: 160px 20px;
}

.hero h1 {
  font-family: var(--heading-font);
  font-size: 75px;
  line-height: 1.5;
  font-weight: 400;
}

.hero p {
  font-family: var(--secondary-font);
  font-size: 26px;
  line-height: 1.5;
}

.fa-solid {
  color: var(--text-color);
  font-size: 48px;
  text-align: center;
}

#recent-projects {
  text-align: center;
  font-family: var(--secondary-font);
}

#recent-projects h2 {
  font-size: 35px;
  font-weight: 400;
  color: #abc4ff;
}

.project-descriptions {
  padding: 110px 60px;
}

.project-descriptions h5,
h2 {
  color: #abc4ff;
  font-family: var(--secondary-font);
  line-height: 2;
}

a.btn-branding {
  border: 1px solid #86aafd;
  border-radius: 11px;
  color: #86aafd;
  font-family: var(--secondary-font);
  text-decoration: none;
  margin-right: 10px;
}

a.btn-contact {
  border: 1px solid white;
  border-radius: 11px;
  color: white;
}

a.btn-branding:hover {
  color: #fff;
  background-color: #86aafd;
  border: 1px solid #86aafd;
}

a.project-btn {
  width: 400px;
  margin: 0 auto;
  padding: 15px;
  text-transform: capitalize;
  font-size: 20px;
}

.contact-box {
  border: 1px solid var(--branding-color);
  background-color: var(--branding-color);
  border-radius: 4px;
  width: 70%;
  margin: 0 auto;
  padding: 30px 110px;
  color: var(--text-color);
  text-transform: capitalize;
}

.contact-box h3 {
  margin: 0;
  font-family: var(--secondary-font);
  font-size: 35px;
  color: #fff;
}

.social-links a {
  margin: 0 20px;
  color: var(--text-color);
  background-color: #86aafd;
  padding: 10px 14px;
  border-radius: 50px;
  font-size: 30px;
}
footer {
  margin: 10px;
}

.footer-text {
  color: black;
  font-family: var(--secondary-font);
  margin-top: 50px;
}

/* About Page, Work page & Contact Page styles */
.content-heading {
  margin: 40px;
  font-family: var(--heading-font);
  color: #86aafd;
  font-size: 55px;
}

.image-model {
  width: 430px;
}

.about-me-description {
  padding: 110px 60px;
}

.content-container h3 {
  color: #86aafd;
}

.content-container p {
  font-family: var(--secondary-font);
  line-height: 2;
  opacity: 0.6;
}

.education-section h2 {
  color: var(--text-color);
  font-family: var(--heading-font);
  font-size: 45px;
  margin: 30px;
}

.education-section p {
  opacity: 0.6;
}

.vertical-line {
  border-right: 3px solid #abc4ff;
  height: 80px;
  display: inline;
}

.skill-box {
  border: 1px solid #abc4ff;
  background-color: #abc4ff;
  width: 70%;
  margin: 0 auto;
}

.skill-box p {
  font-family: var(--secondary-font);
  font-size: 25px;
  color: #fff;
}

.skill-list {
  margin-bottom: 20px;
  font-family: var(--secondary-font);
  text-align: center;
  color: #ffff;
}

/* Card Hover Effect */

.card {
  transition: all 0.3s;
}

.card:hover {
  transform: scale(1.15);
}

/* Contact Page extra styles */

.contact-page-content h1 {
  font-family: var(--heading-font);
  color: var(--text-color);
  font-size: 55px;
}
.contact-page-content h3 {
  font-family: var(--secondary-font);
  color: rgba(0, 0, 0, 0.51);
}
.contact-page-footer {
  padding-top: 90px;
}
/* CSS media Queries */

@media (max-width: 900px) {
  .hero h1 {
    font-size: 65px;
  }

  .footer-text {
    margin-right: 5px;
  }

  .project-descriptions {
    padding: 0;
  }

  .name-header,
  p {
    text-align: center;
  }
  .about-section {
    text-align: center;
    padding: 0;
  }

  .project-descriptions a {
    margin: 20px;
  }

  .contact-box {
    padding: 30px;
  }

  .contact-page-content h1 {
    font-size: 45px;
  }
  h5 {
    text-align: center;
    margin-top: 2px;
  }
}
