/* font-family: 'Lora', serif;
font-family: 'Playfair Display', serif; */

/* Homepage */

:root {
  --heading-font: "Playfair Display", serif;
  --secondary-font: "Lora", serif;
  --branding-color: rgba(181, 171, 166, 0.44);
  --text-color: #546c78;
}

body {
  text-align: center;
}

.navbar .navbar-collapse {
  text-align: center;
}

.hero {
  background-color: var(--branding-color);
  color: var(--text-color);
  padding: 160px 20px;
}

.hero h1 {
  font-family: var(--heading-font);
  font-size: 75px;
  line-height: 1.5;
  font-weight: 400;
}

.hero p {
  font-family: var(--secondary-font);
  font-size: 26px;
  line-height: 1.5;
}

.fa-solid {
  color: var(--text-color);
  font-size: 48px;
  text-align: center;
}

#recent-projects {
  text-align: center;
  color: var(--text-color);
  font-family: var(--secondary-font);
}

#recent-projects h2 {
  font-size: 35px;
  font-weight: 400;
}

.project-descriptions {
  padding: 110px 60px;
}

.project-descriptions h2 {
  color: var(--text-color);
  font-family: var(--secondary-font);
  line-height: 2;
}

a.btn-branding {
  border: 1px solid #f3f0ee;
  background-color: #f3f0ee;
  border-radius: 11px;
  color: var(--text-color);
  font-family: var(--secondary-font);
  text-decoration: none;
  margin-right: 10px;
}

a.btn-branding:hover {
  color: #546c78;
  border: 1px solid #f3f0ee;
}

a.project-btn {
  width: 400px;
  margin: 0 auto;
  padding: 15px;
  text-transform: capitalize;
  font-size: 20px;
}

.contact-box {
  border: 1px solid var(--branding-color);
  background-color: var(--branding-color);
  border-radius: 4px;
  padding: 30px;
  color: var(--text-color);
  text-transform: capitalize;
}

.contact-box h3 {
  margin: 0;
  font-family: var(--secondary-font);
}

.social-links a {
  margin: 0 20px;
  color: var(--text-color);
  background-color: #f3f0ee;
  padding: 10px 14px;
  border-radius: 50px;
  font-size: 30px;
}

.footer-text {
  color: var(--text-color);
  font-family: var(--secondary-font);
  margin-top: 40px;
}

/* CSS media Queries */

@media (max-width: 900px) {
  h1 {
    font-size: 65px;
  }

  .project-descriptions {
    padding: 0;
  }

  .project-descriptions a {
    margin: 20px;
  }
}
